include docs/*.txt
include LICENSE
include setup.cfg
include setup.py

include src/pywinauto/controls/*.py
include src/pywinauto/tests/*.py
include src/pywinauto/unittests/*.py
include src/pywinauto/linux/*.py

# include the examples - but not Watsup or .svn directories
include examples/*.py
exclude examples/examples_watsup/*.py

# include all the website folder and make sure that
# the sub version files are not included
exclude src/pywinauto/docs/.doctrees/*
