cmake>=3.22.6
codacy-coverage
codecov
coverage
mock
nose
pillow>=6.2.0
PyQt5; python_version > '3.6'
pytest
pytest-cov
pytest-xdist
python-xlib
pywin32; python_version > '3.6' and sys_platform == "win32"
rst2pdf
ruff
scikit-build
six
Sphinx
